<%= @user.email %></br>
<% if @orders.include?('There seems not to be any order here') %>
  <%= puts @orders %>
<% else %>
  <% @orders.includes(:order_items).each do |order| %>
    
    <%= order.status %></br>
    <% order.order_items.each do |item| %>
      <td><%= item.product.title %></td>
        <td><%= link_to item.quantity, edit_order_item_path(item) %></td>
        <td><%= print_stock item.product.stock, item.quantity %></td>
        <td><%= print_price item.product.price %></td>
        <td><%= print_price item.subtotal %></td>
    <% end %>
  <% end %>
<% end %>

<%= form_for @user, url: users_path(@user), method: :patch do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "First_name" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "Last_name" %>
  </div>
  <div class="field">
    <%= label_tag 'Choose default shipping address' %>
    <%= f.collection_select(:default_shiping_address, @user.addresses, 'id',:to_s) %></br>
  </div>
  <div class="field">
    <%= f.submit 'Save Your changes', class: 'btn' %>
  </div>
<% end %>