<div class='confirm' >
 
<%= form_for @confirmform, url: confirms_path do |f|%>
  <div class = cart>
  <h1>Your Cart</h1>

<table>
  <tr>
    <th>Customer</th>
    <td><%= '@cart.user_id'  %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= '@cart.order_items.count' %></td>
  </tr>
  <tr>
    <th>Cart total:</th>
    <td><%= 'print_price @cart.total' %></td>
  </tr>
  <tr>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
  </tr>
  <% @cart.order_items.each do |item| %>
    
    <tr>
      <td><%= item.product.title %></td>
      <td><%= link_to item.quantity, edit_order_item_path(item) %></td>
      <td><%= print_stock item.product.stock, item.quantity %></td>
      <td><%= print_price item.product.price %></td>
      <td><%= print_price item.subtotal %></td>
      
    </tr>
    
  <% end %>
  
  
  
</table>
</div>
   <div class = 'new-address'>
     <% if user_signed_in? && current_user.addresses.present? %> 
        <%= f.select :shipping_address_id, current_user.addresses.collect{|a| [a.to_s, a.id]}, class: 'select-address' %>
        <%= (link_to "Add new address", new_address_path) %>    
     
      <% end %>
    <div class='form-new-address'>
  	<div class="email">
    <%= f.label :email %><br>
    <%= f.text_field :email, value: current_user ? current_user.email : "" %>
  </div>

      <div class="line1">
    <%= f.label :line1 %><br>
    <%= f.text_field :line1 %>
  </div>
  <div class="line2">
    <%= f.label :line2 %><br>
    <%= f.text_field :line2 %>
  </div>
  <div class="city">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="state">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="zip">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
    </div>
    </div>        
  </br>
  <% if current_user %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
<%= f.submit 'Place Order' %>
<% end %>
</div>



