<div class = "show-cart">
<h1>Your Cart</h1>

<table>
  <tr>
    <th>Customer</th>
    <td><%= '@cart.user_id'  %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= @cart.order_items.count %></td>
  </tr>
  <tr>
    <th>Cart total:</th>
    <td><%= print_price @cart.total %></td>
  </tr>
  <tr>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
  </tr>
</table>
  <%= render partial: 'carts/cart_items' %>
    

  <%= link_to "Empty Cart", @cart, data: { confirm: 'Are you sure?' },  method: :delete, remote:true %>
  
  

<%= link_to "Continue to Shopping", root_path %> <%= link_to "Start Checkout", '#' %>
</div>

